{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}

{% block title %}Log in{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ url_for('static', filename='images/index.jpg') }}" class="rounded img-fluid" alt="Albumy">
            </div>
            <div class="col-md-4">
                <div class="card mb-3 w-100 bg-light">
                    <div class="card-header"><h4>Log in to Albumy</h4></div>
                    <div class="card-body">
                        {{ render_form(form) }}
                        <hr>
                        <small>No account yet? <a href="{{ url_for('auth.register') }}"> Register now!</a>
                        </small>
                        <br>
                        <small><a href="{{ url_for('auth.forget_password') }}">Forget your password? </a></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}